html {
  background-color: #81cdc6;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 950px;
  margin: 0 auto;
  background-color: #421869;
  padding: 0 20px 20px 20px;
  border: 5px solid #000000;
}

h1 {
  margin: 0;
  padding: 15px 0;
  color: #DDC5DD;
  text-align: center;
  font-size: 60px;
}

h2, h3 {
  color: #FFD6F6;
}

img {
  display: block;
  margin: 0 auto;
  width: 350px;
  border: 5px solid #DDC5DD;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #FFD6F6;
}

a {
  color: #DDC5DD;
  font-size: 18px;
}

/* Wanted to add a 3D box to help the information pop more for the viewers
Comes up in a form of a banner! */
.box-3d {
  background-color: #5b2d87;
  padding: 10px;
  border: 2px solid #DDC5DD;
  box-shadow: 5px 5px 0px #000000;
  border-radius: 10px;
}

/* Navigation Bar */
.navbar {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 15px;
  background-color: #2d1047;
  margin-top: 20px;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  font-size: 25px;
  color: #FFD6F6;
}

/* Keyboard Focus */
a:focus,
button:focus {
  outline: 4px solid #81cdc6;
  background-color: #5b2d87;
  padding: 4px;
}
